/.vscode
/.venv/
build
blis
blt
*.hdf5
*.h5
*.vtk
*.d
*.o
*.table
*.dat
*.exe
.DS_Store
*.err
*.out
*.sh
!scripts/run_test_problems.sh
!scripts/run_test_problems_anvil.sh
!scripts/run_convergence_test.sh
!scripts/run_convergence_test_anvil.sh
/Test_results/
/Convergence_results/
/Convergence_jobs/
/Test_jobs/
/docs/
*.jpeg
*.png
*.mpg
*.gif
pout.*
myjob.o*
myjob.e*
*.html
*.csv
visitlog.py
